@page "/nofour/difficulty"
@inject NavigationManager NavManager

<Row>
    <Button Color="Color.Primary" TextColor="TextColor.White" Clicked="RedirectLeaderboard">
        <Span>
            <Icon Name="IconName.Star" Margin="Margin.Is3.FromEnd"/>
            Leaderboard
        </Span>
    </Button>
</Row>
<br />
<br />
<Row>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Success">
                <Anchor To="nofour/level/1" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Novice</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Success">
                <Anchor To="nofour/level/2" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Easy</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Info">
                <Anchor To="nofour/level/3" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Standard</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Warning">
                <Anchor To="nofour/level/4" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Hard</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Warning">
                <Anchor To="nofour/level/5" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Advanced</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Danger">
                <Anchor To="nofour/level/6" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Expert</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody TextAlignment="TextAlignment.Center" Background="Background.Danger">
                <Anchor To="nofour/level/7" Class="display-products" TextColor="TextColor.Light">
                    <Media>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is3">Laborious</Heading>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>

</Row>


@code {
    private void RedirectLeaderboard()
    {
        NavManager.NavigateTo("/nofour/leaderboard");
    }
}
