@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;

<PageTitle>Home Sweet Home</PageTitle>
<Heading Size="HeadingSize.Is2" Margin="Margin.Is4.OnY">
    Welcome to my experiments
</Heading>
@*<Button Color="Color.Primary" Clicked="@(()=>OnThemeColorChanged("#d16f9e"))">Change theme</Button>*@

<Row>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile" Flex="Flex.AlignItems.Stretch">
        <Card Margin="Margin.Is4.FromBottom">
            <CardBody>
                <Anchor To="nofour" Class="display-products" TextColor="TextColor.Body">
                    <Media>
                        <MediaLeft>
                            <Icon Name="IconName.DotCircle" IconSize="IconSize.x3" Padding="Padding.Is3" />
                        </MediaLeft>
                        <MediaBody>
                            <Heading Size="HeadingSize.Is5">No 4 In A Row</Heading>
                            <Paragraph>
                                Little game to test the css framework <i>Blazorise</i>
                            </Paragraph>
                        </MediaBody>
                    </Media>
                </Anchor>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    Task OnThemeColorChanged(string value)
    {
        if (Theme?.ColorOptions != null)
            Theme.ColorOptions.Primary = value;

        if (Theme?.BackgroundOptions != null)
            Theme.BackgroundOptions.Primary = value;

        Theme.ThemeHasChanged();

        return Task.CompletedTask;
    }

    [CascadingParameter]
    Theme Theme
    {
        get; set;
    }
}